.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./flow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color:#103111;
    text-align: center;
  }
  
  .landing-page h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .landing-page p {
    font-size: 1.5rem;
  }
  
  .get-started-button {
    background-color: #0a290b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .get-started-button:hover {
    background-color: #123614;
  }
  